footer{
	background-color: lightblue;
	height: 100px;
	width: 100%;
	padding: 0;
	margin: 0;
	
}
.footer{
	margin: auto;
	width: 40%;
	border: 3px solid #73AD21;
	padding: 5px;
	
}
.footerparagraph {
	text-align: center;
}