header {
	background-color: lightblue;
	width: 100%;
	
	
}
.login {
	display: inline-block;
	float: right;
	background-color: #C7D4E2;
	vertical-align: center;
	
}
.logindiv{
	margin: 10px;
}
.logo{
	display:inline-block;
	margin: 15px;
}