a { 
	font-family: 'Londrina Solid', cursive;
	
}

h1{
	
}

header {
	overflow: hidden;
	background-color: lightblue;
	width: 100%;
}

img {
	height: 160px;
}
.header-right{
	float: right;

}
.header-left{
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
	float: left;
	color: green;
	padding 12px;
}
h3 {
	text-sixe; 20px;
	margin: 5px;
}

