header {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	align-items: center;

	
}
div {
		flex: 1;
}
.login {
	display: inline-block;
	float: right;
	background-color: #C7D4E2;
	vertical-align: middle;
	margin: 30px;
	
}
.logindiv{
	margin: 10px;
}
.logo{
	display:inline-block;
	margin: 15px;
}
.title{ 
	display: inline-block;
	margin: 10px;
	align: top;
	
}
.titletext{
	font-family:Book Antiqua;
	font-size: 30px;
	margin: 10px;
	
}