a.loginpage { 
	font-family: 'Londrina Solid', cursive;
	font-size:35px;
	padding: 20px;
	text-align: center;
}

header {
	overflow: hidden;
	background-color: lightblue;
	width: 100%;
}

img {
	float:left;
	height: 160px;
	padding: 12px;
}
.header-right{
	float: right;
	height: 100%;
	width: 
	

}
.header-left{
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
	float: left;
	color: green;
	padding 12px;
}
.titletext{
	float:left;
	padding: 5px;
	
	
}
