a { 
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
}

header {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	vertical-align: middle;
	display: flex;
}

img {
	height: 160px;
}
.formcontainer{
	padding: inherit;
	margin: 0;
}
form {
	padding: 5px;
	margin: 0px;
}
.login {
	display: inline-block;
	float: right;
	background-color: #C7D4E2;
	margin: 5px;
	
}
.logindiv{
	margin: 5px;
	padding: 0;
}
.logo{
	display: flex;
	margin: 10px;
}
h3 {
	text-sixe; 20px;
	margin: 5px;
}
.submitbutton{
	margin:5px;
}
.title{ 
	display: flex;
	margin: 5px;
	margin-top: 15px;
	float: top;
	flex-grow: 3;
	padding: inherit;
	
	
}
.titletext{
	font-family:Book Antiqua;
	font-size: 60px;
	margin: 10px;
	
}