header {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	vertical-align: middle;
	display: flex;
}

img {
	height: 140px;
}
.formcontainer{
	padding: 0;
}
form {
	padding: 5px;
}
.login {
	display: inline-block;
	float: right;
	background-color: #C7D4E2;
	margin: 5px;
	
}
.logindiv{
	margin: 5px;
	padding: 0;
}
.logo{
	display: flex;
	margin: 10px;
	flex-grow: 1;
}
h3 {
	text-sixe; 20px;
	margin: 5px;
}
.title{ 
	display: flex;
	margin: 5px;
	margin-top: 15px;
	float: top;
	flex-grow: 3;
	
	
}
.titletext{
	font-family:Book Antiqua;
	font-size: 60px;
	margin: 10px;
	
}