a.loginpage { 
	font-family: 'Londrina Solid', cursive;
	font-size:35px;
	padding: 20px;
	text-align: center;
}

header {
	overflow: hidden;
	background-color: lightblue;
	width: 100%;
}

img {
	float:left;
	height: 160px;
	padding: 12px;
}
.header-left && .header-right{
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
	color: green;
	padding 12px;
	height: 160px;
}

.header-right{
	float: right;
}


.header-left{
	float: left;

}
.titletext{
	float:left;
	padding: 5px;
	
}
