header {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	
	
}
.login {
	display: block;
	float: right;
	background-color: #C7D4E2;
	vertical-align: middle;
	margin: 30px;
	
}
.logindiv{
	margin: 10px;
}
.logo{
	display: block;
	margin: 15px;
}
.title{ 
	display: block;
	font-family:Book Antiqua;
	font-size: 30px;
	margin: 10px;
	
}
.titletext{
	margin: 10px;
	
}