header {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	vertical-align: middle;
	display: flex;
}

.login {
	display: inline-block;
	float: right;
	background-color: #C7D4E2;
	margin: 45px;
	
}
.logindiv{
	margin: 10px;
}
.logo{
	display: flex;
	margin: 15px;
	flex-grow: 1;
}
.title{ 
	display: flex;
	margin: 10px;
	margin-top: 30px;
	float: top;
	flex-grow: 3;
	
	
}
.titletext{
	font-family:Book Antiqua;
	font-size: 30px;
	margin: 10px;
	
}