body{
	background-color: green;
	margin: 0;
	padding: 0;
}

.formcontainer{
	display:flex;

	flex-grow: 1;
	opacity: 1;
	
}

.welcomecontent{
	
	flex-grow: 4;
	background-color: white;
}
.welcomecontentcontainer{
	display:flex;
	width: 70%;
	border: 3px solid #73AD21;
	margin: 10px 10px;
	padding: 10px;
	
}
.maincontent{
	display: flex;
	background-image: url("orchardbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%;
}

.newuserform{
		border: 3px solid #73AD21;
		margin: 10px 10px;
		padding: 10px;
		background-color: white;
}