body{
	background-color: lightblue;
	margin: 0;
	padding: 0;
}
form {
	
}
.formcontainer{
	display:flex;
	flex-grow: 1;
	opacity: 1;
	width: 30%;
	padding: 15px;
}
h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
}
p{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
}
.pagecontainer{
	margin: 0;
	padding: 0;
}
.welcomecontent{
	flex-grow: 4;
	background-color: white;
	border: 3px solid #73AD21;
	margin: 30px 30px;
	padding: 30px;

}
.welcomecontentcontainer{
	display:flex;
	height: 480px;
	width: 70%;
	padding: 10px;

	
}
.maincontent{
	display: flex;
	background-image: url("orchardbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;

	
}

.newuserform{
		border: 3px solid #73AD21;
		margin: 30px 30px;
		padding: 30px;
		background-color: white;
}