body{
	background-color: green;
	margin: 0;
	padding: 0;
}

.formcontainer{
	display:flex;
	border: 3px solid #73AD21;
	flex-grow: 1;
	opacity: 1;
	
}

.welcomecontent{
	display:flex;
	flex-grow: 4;
	border: 3px solid #73AD21;
	opacity: 1;
}
.maincontent{
	display: flex;
	background-image: url("orchardbackground.jpg", 0.6);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .5;
	height: 80%;
}
