body{
	background-color: green;
	margin: 0;
	padding: 0;
}

.formcontainer{
	display:flex;
	border: 3px solid #73AD21;
	flex-grow: 1;
	background-image: url("orchardbackground.jpg");
	opacity: .5;
}

.welcomecontent{
	display:flex;
	flex-grow: 4;
	border: 3px solid #73AD21;
}
.maincontent{
	display: flex;
	border: 3px solid #73AD21;
}
