body{
	background-color: lightblue;
	margin: 0;
	padding: 0;
} 


.formcontainer{
	display:flex;
	flex-grow: 1;
	opacity: 1;
	width: 30%;
	padding: 15px;
}
h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
}
p{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 15px;
}
.pagecontainer{
	margin: 0;
	padding: 0;
}
.welcomecontent{
	flex-grow: 4;
	background-color: white;
	border: 3px solid #73AD21;
	margin: 30px 30px;
	padding: 30px;

}
.welcomecontentcontainer{
	display:flex;
	height: 480px;
	width: 70%;
	padding: 10px;

	
}
.maincontent{
	display: flex;
	background-image: url("orchardbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;

	
}

.newuserform{
		border: 3px solid #73AD21;
		margin: 30px 30px;
		padding: 30px;
		background-color: white;
}
table.greenTable {
	margin: 10px;
  font-family: Georgia, serif;
  border: 6px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #24943A;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 13px;
}
table.greenTable thead {
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-bottom: 0px solid #444444;
}
table.greenTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #24943A;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #F0F0F0;
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-top: 1px solid #24943A;
}
table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}
