body{
	background-color: lightblue;
	margin: 0;
	padding: 0;
}

.formcontainer{
	display:flex;

	flex-grow: 1;
	opacity: 1;
	width: 30%;
	padding: 15px;
	
}

.welcomecontent{
	
	flex-grow: 4;
	background-color: white;
	border: 3px solid #73AD21;
	margin: 30px 30px;
	padding: 10px;
}
.welcomecontentcontainer{
	display:flex;
	width: 70%;

	
}
.maincontent{
	display: flex;
	background-image: url("orchardbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	padding:40px;
}

.newuserform{
		border: 3px solid #73AD21;
		margin: 30px 30px;
		padding: 10px;
		background-color: white;
}